html,
body * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.navbar {
    background-color: #fff;
}

@media screen and (min-width: 578px) {
    .nav-menu {
        flex-direction: row;
        flex-wrap: wrap;
    }
}